.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-top {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: dodgerblue;
  font-size: 1.125rem;
  padding-left: 50px;
  padding-right: 50px;
  height: 40px;

  .nav-label {
    display: inline-flex;
    color: white;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 4px;
  }

  .nav-image {
    width: 30px;
    height: 30px;
    padding: 2px;
    position: absolute;
    right: 10px;
    top: 2px;
  }

  .logo-image {
    width: 30px;
    height: 30px;
    margin-top: -8px;
  }
}

.radio-label {
  display: block;
  padding: 10px 20px;
}

.radio-check-bg {
  background: cyan;
}

.radio-text {
  display: inline;
}

.radio-input {
  display: none;
}

.hidden {
  display: none !important;
}

p {
  margin: 0 !important;
}

.ver-line {
  width: 1px;
  //height: 100vh;
  background: black;
}

.hor-line {
  width: 100%;
  height: 1px;
  background: gray;
}

.but-option {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 16px 32px;
  border: none;
  font-size: 1.125rem;
  display: block;
  margin-top: 15px;
}

.but-back-bottom {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 16px 32px;
  border: none;
  font-size: 1.125rem;
  bottom: 20px;
  left: 50px;
  display: block;
  position: fixed;
}

.but-inline-right {
  float: right;
  background: dodgerblue;
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  border: none;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.but-next {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 16px 32px;
  border: none;
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.but-next-bottom {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 16px 32px;
  border: none;
  font-size: 1.125rem;
  bottom: 20px;
  right: 50px;
  display: block;
  position: fixed;
}

.but-next-bottom-2 {
  background: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 16px 32px;
  border: none;
  font-size: 1.125rem;
  bottom: 80px;
  right: 50px;
  display: block;
  position: fixed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 50%) !important;
}

.text-input-modal {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding-bottom: 20px;
  margin-top: 30vh;
  background-color: white;
  border-radius: 10px;
  outline: none !important;

  .container-but {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }

  .but-cancel {
    border: 1px solid black;
    background: transparent;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 1rem;
    margin-top: 10px;
  }

  .but-ok {
    border: 1px solid dodgerblue;
    background: dodgerblue;
    color: white;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 20px;
  }

  .modal-text-input {
    margin: 15px;
    padding: 5px 10px;
    width: 545px;
  }
}

.confirm-modal {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding-bottom: 20px;
  margin-top: 30vh;
  background-color: white;
  border-radius: 10px;
  outline: none !important;

  .container-but {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }

  .but-cancel {
    border: 1px solid black;
    background: transparent;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 1rem;
    margin-top: 10px;
  }

  .but-ok {
    border: 1px solid dodgerblue;
    background: dodgerblue;
    color: white;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 20px;
  }

  .description-text {
    margin-top: 10px;
    padding: 10px 20px;
  }
}

.loading-modal {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding-bottom: 20px;
  margin-top: 30vh;
  background-color: white;
  border-radius: 10px;
  outline: none !important;

  .but-ok {
    border: 1px solid black;
    background: transparent;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }

  .loading-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;
  }

  .description-text {
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
  }
}

.warn-modal {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding-bottom: 20px;
  margin-top: 30vh;
  background-color: white;
  border-radius: 10px;
  outline: none !important;

  .but-ok {
    border: 1px solid black;
    background: transparent;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }

  .description-text {
    margin-top: 10px;
    padding: 10px 20px;
  }
}

.modal-nav-top {
  background: dodgerblue;
  font-size: 1.125rem;
  padding: 10px 20px;
  border-radius: 9px 9px 0 0;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: 'Lato';
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ck-content {
  font-family: 'Lato';
  word-break: break-word;

}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}

.simple-box {
  padding: 10px;
  margin: 1em 0;

  background: rgba(0, 0, 0, 0.1);
  border: solid 1px hsl(0, 0%, 77%);
  border-radius: 2px;
}

.simple-box-title, .simple-box-description {
  padding: 10px;
  margin: 0;

  background: #FFF;
  border: solid 1px hsl(0, 0%, 77%);
}

.simple-box-title {
  margin-bottom: 10px;
}

.flexible-modal {
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;
}

.flexible-modal-mask, .flexible-modal-resizer, .flexible-modal-drag-area-bottom, .flexible-modal-drag-area-right, .flexible-modal-drag-area-left {
  display: none;
}

.flexible-modal-resizer {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  margin: 5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}

.flexible-modal-drag-area {
  width: 200px !important;
  background: none !important;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
}

.calculator-modal {
  //top: 100px !important;
  //right: 100px !important;
  background: none !important;
  border: none !important;

  .calculator-label {
    padding: 6px 12px;
    margin: 0;
    color: white;
    background: dodgerblue;
    border-radius: 7px 7px 0 0;
    border: 1px solid black;
  }

  .calculator-close-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
  }
}