.edit-question-details-left-right {
  .mid-cont {
    margin-top: 55px;
    margin-left: 50px;
    display: block;
  }

  .option-cell {
    display: inline-block;
    padding: 10px;
    width: 100%;
  }

  .radio-text {
    margin: 5px;
  }

  .op-cont-inner {
    min-width: 100%;
    white-space: nowrap;
    display: inline-block;
  }
  .op-hor-line {
    height: 1px;
    background: gray;
  }
  .container-op-and-hor-line {
    //width: fit-content;
  }

  .sort-cont {
    margin-left: 50px;
    display: flex;
  }

  .cont-750 {
    width: 750px;
  }

  .sort-op-cont {
    width: 180px;
    height: calc(50vh - 185px);
    overflow: auto;
    border: 1px solid black;
    background: transparent;
    margin-bottom: 25px;
  }

  .yes-no-op-cont {
    height: calc(50vh - 185px);
    overflow: auto;
    border: 1px solid black;
    background: transparent;
    margin-bottom: 25px;
  }

  .op2-cont {
    margin-left: 50px;
  }

  .option-text {
    padding-right: 10px;
  }

  .sort-content-cont {
    flex-grow: 1;
    margin-left: 50px;
  }

  .desc-cont {
  }

  .lr-info-cont {
    width: 450px;
    height: calc(50vh - 185px);
    overflow: auto;
    border: 1px solid black;
    background: transparent;
    margin-bottom: 25px;
    padding: 6px 12px;
  }

  .sort-info-cont {
    height: calc(50vh - 185px);
    overflow: auto;
    border: 1px solid black;
    background: transparent;
    margin-bottom: 25px;
    padding: 6px 12px;
  }

  .edit-label {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .edit-cont {
    display: flex;
  }

  .add-image {
    width: 30px;
    height: 30px;
    padding: 2px;
    float: right;
    cursor: pointer;
  }

  .delete-image {
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 6px;
    cursor: pointer;
  }

  .check-image {
    width: 30px;
    height: 30px;
    padding: 2px;
    cursor: pointer;
  }
}