.sec-data {
  h2 {
    margin-bottom: 40px;
  }

  .mid-cont {
    margin-top: 80px;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
  }

  .css-1dimb5e-singleValue, .css-olqui2-singleValue {
    font-weight: bold;
    color: black !important;
  }

  .order-select {
    margin-bottom: 20px;
  }

  p {
    font-size: 17px;
    margin-bottom: 25px;
  }

  .instruction-desc {
    font-size: 20px;
    margin-bottom: 85px;
  }
}