.question {
  p {
    margin: 0;
  }
  .mid-cont {
    display: block;
    width: 90vw;
    margin: 76px auto 90px;
  }
  .data-top {
    z-index: 1;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    padding: 3px 20px 5px 20px;
    background: slategray;
    color: white;
  }
  .remaining-time {
    color: gold;
    float: right;
    display: flex;
  }
  .clock-image {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    margin-top: 4px;
  }
  .remaining-text {
  }
  .calculator-image {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
}
.ReactModalPortal {
  position: absolute;
  z-index: 2;
}