.select-order {
  h2 {
    margin-bottom: 40px;
  }

  .mid-cont {
    margin-top: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

  button {
    margin-top: 40px;
  }

  .css-1dimb5e-singleValue, .css-olqui2-singleValue {
    font-weight: bold;
    color: black !important;
  }

  .order-select {
    margin-bottom: 20px;
  }

  p {
    font-size: 17px;
    margin-bottom: 25px;
  }
}